<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="container">
      <div class="center"><h1>Signup</h1></div>
      <form action="signup" method="post" enctype="multipart/form-data">
        <div class="tabla">
          <p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
          </p>
          <p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
          </p>
          <p>
            <label for="cpassword">Confirm Password:</label>
            <input type="password" id="cpassword" name="cpassword" />
          </p>
          <p>
            <label for="avatar">Choose Avatar file</label>
            <input type="file" id="avatar" name="avatar" />
          </p>
          <p class="redtxt"><%=msg%></p>
          <p><a href="/login">Already signed up, log in</a></p>
        </div>
        <button type="submit" class="submit-btn">Sign Up</button>
      </form>
    </div>
  </body>
</html>
